.header {
    display: inline-flex;
    gap: 10px;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 10px;
}

.title {
    width: 450px;
}

.filter {
    width: 250px;
}

.input {
    width: 100%;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    min-height: 535px;
}
