@import '@styles/global.scss';

.EmployeeAnswersTable {
  width: 100%;
  border-radius: 6px;
  background-color: $color2;

  .Header {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .stageBlock {
    background-color: $color1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 0 20px 20px 20px;
    border-radius: 6px;
  }

  .questionsBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .questionBlock {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid $color3;
    padding-bottom: 16px;
    gap: 15px;

    ul > li {
      display: grid;
      grid-template-columns: 1fr 100px;
    }
  }
}

.attention {
  color: $color5;
}

.tableSkeleton {
  width: 100%;
  height: 200px;
}

.emptyTitle {
  width: 100%;
  padding: 0;
  margin: 0;

  text-align: center;
  font-size: 16px;
  font-weight: 600;

  padding-bottom: 20px;
}
